body{
    margin: 0;
}
.navbar{
    background: white;
}
.jumbotron{
    background-image: url("../img/city-background.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin-top: -56px;
    margin-bottom: 0;
}

.area-1{
    height: 50vh;
    background: grey;
}

.profile{
    height: 400px;
    margin-top: -160px;
    background: white;
    padding: 20px;
    /* box-shadow: 0px 3px 17px 2px rgba(0,0,0,0.75); */
    box-shadow: inset 0px 3px 17px 2px rgba(0,0,0,0.75);
    z-index: 1;
}
.profile-picture{
    height: 80px;
}
.my-btn{
    width: 140px;
    margin: 15px;
    height: 40px;
}

.carousel{
    z-index: 0;
}
.test{
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
.carousel-img{
    background-image: url("../img/city-background.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
