
$background: #e8f6ff;
$profile: grey;


.area-1{
    height: 50vh;
    background: $profile;
}

.profile{
    height: 400px;
    margin-top: -160px;
    background: $background;
    padding: 20px;
    z-index: 1;
}
.profile-picture{
    height: 100px;
}
.my-btn{
    width: 140px;
    margin: 15px;
    height: 40px;
}
.my-btn-a{
    float: left;
}
.my-btn-b{
    float: inline-end;
}
.carousel{
    z-index: 0;
}

.overview{
    display: block;
    float: left;
    height: 1px;
    width: 275px;
    border-top: 5px solid red;
    margin-top: 5px;
    margin-bottom: 0px;
}

.first-section{
    padding-top: 130px;
}
.youtube{
    display: block;
}
.row{
    display: flex;
    justify-content: center;
}
.block-a{
    width: 100px;
    height: 275px;
    background: #c8e9ff;
    text-align: center;
    padding-top: 9%;
    flex-grow: 1;
}

.block-b{
    width: 100px;
    height: 275px;
    background: #fafdff;
    text-align: center;
    padding-top: 9%;
    flex-grow: 1;
}
.skill{
    padding: 0 15px;
}
.experience-a{
    background: #c8e9ff;
}
.experience-b{
    background: #fafdff;
}
