



.jumbotron{
    background-image: url("../img/city-background.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin-top: -56px;
    margin-bottom: 0;
}
